<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
             background-color: yellow

        }
    </style>
</head>
<body>
     <a href="http://kprcas.ac.in/academics/department-of-bba/">BBA</a><br>
     <a href="https://commerce.gov.in/">Commerce</a><br>
    <a href="https://dst.gov.in/">Science</a><br>
    <a href="https://www.iitg.ac.in/hss/">Humanities</a><br>
    <a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a><br>
    <a href="https://en.wikipedia.org/wiki/List_of_engineering_branches">Engineering</a><br>
    <a href="https://cusat.ac.in/chem.php">Chemistry</a><br>
    <a href="https://www.amu.ac.in/department/physics">Physics</a><br>
    <a href="https://en.wikipedia.org/wiki/Medicine">Medicine</a><br>
    <a href="https://www.lawsect.kerala.gov.in/">Law</a><br>
    <a href="https://en.wikipedia.org/wiki/Criminal_justice">Criminal justice</a><br>
    <a href="https://www.cet.ac.in/architecture/">Architecture</a><br>
</body>
</html>